<!DOCTYPE html>
<head> <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<html lang="en">
  <!-- extra page for msg confirmation-->
<body class="bg-lightblue text-dark">
    {{{msg}}}
  </body>
</html>